/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 /*Top Shadow*/
 body:before{
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,100,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,100,.8);
    box-shadow: 0px 0px 10px rgba(0,0,100,.8);
 }

 .content {
  background-color: #eee;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


.navbar{
	padding-left: 14%;
	background:#D1C0AF;
}

.navbarHeader
{
	border-left: 1px solid rgb(0,0,0);
	border-right: 1px solid rgb(0,0,0);
	border-bottom: 1px solid rgb(0,0,0);
	display:inline-table;
	padding-top: 8px;
	font-style: oblique;
	width: 28%;
	height: 30px;
	text-align:center;
	font-size:23px;
}

#users {
	background:rgb(113,227,91);
}

#puzzles{
	background:rgb(169,227,68);
}

#grids{
	background:rgb(227,185,68);
}

.center_text{
  text-align:center;
}

.bold_text{
  font-weight:bold;
}

.small_margin_top{
  margin-top:10px;
}