// Place all the styles related to the Puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.puzzle_description
{
	text-align:center;
	font-size:25px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	line-height:27px;
}

.puzzle_description_table{
  width: 400 px;
  margin-left: auto;
  margin-right: auto;
  

}

.left_puzzle_description_column{
  text-align: left;
  font-size: 20px;
  line-height: 25px;
}

.right_puzzle_description_column{
  text-align: left;
  font-size: 20px;
  line-height: 25px;
}

.placeholder_column{
  width: 50px;
}

.puzzle_table{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200 px;
  margin-left: auto;
  margin-right: auto;
  table, tr, td{
    border: 1px solid black;
  }
  td{
    width: 28px;
    height: 28px;
    text-align: center;
  }
  .puzzle_numbers_row{
    height: 50px;
  }
  .puzzle_numbers_column{
    width: 50px;
  }
  .puzzle_cell.black{
    background-image:url("/assets/black_cell.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .puzzle_cell.x{
    background-image:url("/assets/x_cell.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}