body {
  background-image: -ms-radial-gradient(center top, circle farthest-corner, #A8C47F  0%, #003619 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-corner, #A8C47F  0%, #003619 100%);
  background-image: -o-radial-gradient(center top, circle farthest-corner, #A8C47F  0%, #003619 100%);
  background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, #A8C47F ), color-stop(1, #003619));
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, #A8C47F  0%, #003619 100%);
  background-image: radial-gradient(circle farthest-corner at center top, #A8C47F  0%, #003619 100%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color:#003619;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 10px;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
