!!!
%html
  %head
    %title Nonogrammed
    %meta{content:"Nonogram puzzle game! Create and solve other people's puzzles!", name:"description"}
    %meta{content:"Nonogram,Nonograms,Hanjie,Griddler,Puzzle,Game,Picross", name:"keywords"}
    %meta{content:"Reed Silverstein , Eli Schiff", name:"author"}
    %link{:href => "/assets/favicon.png", :rel => "icon", :type => "image/gif"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    =render :partial => 'layouts/ga' if Rails.env == 'production'
  = yield
