%div.puzzle_description
  %table.puzzle_description_table
    %td= "Puzzle Number: " + @puzzle_name
    %td= "Puzzle Difficulty: " + @puzzle_difficulty
    %td= "Puzzle Points: " + @puzzle_points

%table
